.top-bar-gray {
  width: 100%;
  height: 10px;
  background-color: $dark-gray;
}

.wrap {
  @include container;
}

.active {
  color: darken($action-color, 25%);
}

.logo {
  @include span(8);
  text-align: center;
}

.logo img {

}

.name {
  @include span(8);
  text-align: center;
  margin-top: 10px;
}

.name h1 {
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: 400;
    @include breakpoint ($mobile) {
      font-size: 22px;
    }
}

.blue {
  color: $blue;
}

.home-page-grid {
  @include breakpoint($desktop) {
    width: 1000px;
    margin: auto;
  }
  @include breakpoint($tablet-lg) {
    width: 60%;
    margin: auto;
  }
  @include breakpoint($tablet) {
    width: 50%;
    margin: auto;
  }
}

.portfolio-grid {
  list-style-type: none;
  padding: 0;
  width: 1000px;
  margin: auto;
    @include breakpoint($tablet-lg) {
    width: 750px;
    margin: auto;
  }
    @include breakpoint($tablet) {
    width: 500px;
    margin: auto;
  }
    @include breakpoint($mobile) {
    width: 250px;
    margin: auto;
      
  }
}

.portfolio-grid li {
  float: left;
  width: 250px;
  height: 250px;
  padding: 0;
  margin: 0;
}

.detail-top {
  padding: 0;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
    @include breakpoint($tablet-lg) {
    width: 750px;
    margin: auto;
  }
    @include breakpoint($tablet) {
    width: 500px;
    margin: auto;
  }
    @include breakpoint($mobile) {
    width: 250px;
    margin: auto;
      
  }
}

.interior-top {
  padding: 0;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
    @include breakpoint($tablet-lg) {
    width: 750px;
    margin: auto;
  }
    @include breakpoint($tablet) {
    width: 500px;
    margin: auto;
  }
    @include breakpoint($mobile) {
    width: 250px;
    margin: auto;
      
  }
}

.interior-text {
  padding: 0;
  width: 800px;
  margin: auto;
  margin-top: 20px;
    @include breakpoint($tablet-lg) {
    width: 650px;
    margin: auto;
  }
    @include breakpoint($tablet) {
    width: 500px;
    margin: auto;
  }
    @include breakpoint($mobile) {
    width: 250px;
    margin: auto;
      
  }
}

.center {
  text-align: center;
}


footer {
  @include container;
  margin-top: 40px;
}

.footer {
    @include breakpoint($desktop) {
    width: 1000px;
    margin: auto;
    border-top: solid 1px $dark-gray;
    padding-top: 10px;
  }
  @include breakpoint($tablet-lg) {
    width: 750px;
    margin: auto;
    border-top: solid 1px $dark-gray;
    padding-top: 10px;
  }
  @include breakpoint($tablet) {
    width: 500px;
    margin: auto;
    border-top: solid 1px $dark-gray;
    padding-top: 10px;
  }
  @include breakpoint($mobile) {
    width: 250px;
    margin: auto;
    border-top: solid 1px $dark-gray;
    padding-top: 10px;
  }
}

.footer-left {
  @include span(2);
}

.footer-news {
  float: left;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 0;
}


.footer-social {
  float: right;
   @include breakpoint($tablet-lg) {
    float: left;
  }
  @include breakpoint($tablet) {
    float: left;
  }
  @include breakpoint($mobile) {
    float: left;
  }
}

.footer-right {
  @include span(6 last);
  font-size: 14px;
}
