.page-area {
	@include container;
}

article {
	
}

article p {
	font-size: .9em;
}

.article-listing {
	@include span(5);
		@include breakpoint($mobile) {
      		@include span(8);
      		padding-left: 1em;
      		padding-right: 1em;
  	}
}

.sidebar {
	@include span(2 last);
	@include push(1);
		@include breakpoint($mobile) {
      		@include span(8);
      		padding-left: 1em;
      		padding-right: 1em;
  	}
}

